body{
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo{
    background: #CA3413;
}

#menu ul a:hover{
    background: #CA3413;
}

.button-more{
    background: #CA3413;
}